.seat_selection {
  background-color: rgba(211, 211, 211, 0.1);
  margin: 2%;
  padding-left: 1px;
  padding-right: 1px;
  width: 96%;
}

.row {
  display: flex;
}

.row * {
  flex-shrink: 0;
}

.seats {
  overflow: scroll;
}
